

.header {
    background-color: var(--white-dark);
    color: var(--gray-dark);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /* margin-left: 1rem; */
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 1rem;
    padding-left: 1rem;
    font-size: 1.6rem;
}

.menu-enter-active {
    transform: translateY(0%);
    transition: all 500ms ease;
}

.menu-enter {
    position: absolute;
    transform: translateY(-110%);
}

ul {
    list-style-type: none;
    padding: 0;
}