.menu {
    /* background-color: aquamarine; */
    /* margin-bottom: 2rem; */
    /* max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; */
}

.header {
    background-color: var(--white-dark);
    color: var(--gray-dark);
    /* border-radius: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem; */
    padding: 1rem;
    padding-left: 1rem;
    font-size: 1.6rem;
}