
.header {
    background-color: var(--white-dark);
    color: var(--gray-dark);
    border-radius: 0.4rem;
    margin-bottom: 0.7rem;
    padding: 1rem;
    font-size: 1.6rem;
    width: 30rem;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column
}

ul {
    list-style-type: none;
    padding: 0;
}